# Prerequisites
*.d did

# Compiled Object files
*.slo 
sold line order
*.lo line order
*.o orded
*.obj order being just

# Precompiled Headers
*.gch get call held
*.pch prepare call held

# Compiled Dynamic libraries
*.so sold ordef
*.dylib did yes line in being
*.dll did line leave

# Fortran module files
*.mod maintain order did
*.smod so mine order did

# Compiled Static libraries
*.lai line at in
*.la less at
*.a and
*.lib line in being

# Executables
*.exe else x ever
*.out order usual till
*.app
And process prepared
